$icon-font-path: '../fonts/';

@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);

@function font-path($path) {
  @return $path;
}

@import "node_modules/bootstrap/scss/bootstrap";

.navbar {
    background: white;
}
body {
    font-family: 'Roboto Slab', serif;
}

section {
    .head-text {
        text-transform: uppercase;
        font-size: 0.7em;
    }

    h6 {
        font-weight: bold;
    }
}

.contact-info {
    list-style: none;
}

.pub-author {
    margin-left: 10px;
}

.pub-pub {
    margin-left: 10px;
}
